#homePage {
    margin: 10px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
}

#profileImage {
    margin: 30px;
    border-radius: 50%;
    max-width: 40%;
    object-fit: cover;
}

#spotifyLink {
    margin: 0;
    padding: 0;
    color: #1AC357;
}

#spotifyLink:hover {
    color: #3BE477;
}

button {
    color: #1AC357;
}