#homePage {
    margin: 10px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    margin: 0;
    padding: 0;
    color: var(--secondary-text);
    font-size: 30px;
}

#profileImage {
    margin: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#spotifyLink {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
}

#spotifyLink:hover {
    color: var(--button-1-hover);
}

button {
    color: var(--button-1-hover);
}