body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: yellow;
    min-height: 95vh;
}

.footer {
    margin-top: auto;
}