#grid{
    width: 100%;       
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    justify-items: center;
    margin-top: 40px;
    align-items: start;
  }
  
  #loading-message {
    text-align: center;
    font-size: 18px;
    color: #1AC357;
    margin-top: 20px;
    padding: 10px;
  }
  
  #selection_menu {
    margin: 20px 0;
    font-size: 18px;
  }
  
  #input-amount, #select-time {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #button_box {
    text-align: center;
    margin-top: 20px;
  }
  
  #input-amount {
    text-align: center;
  }
  
  #select-time {
    margin-left: 10px;
  }